<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel=" stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css " integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous " referrerpolicy="no-referrer " >
    <script src="https://kit.fontawesome.com/a58da105b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet " href="css/style.css ">

    <link href="css/templatemo-tiya-golf-club.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<!--<div class="container-fluid bg-light pt-3 d-none d-lg-block">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>-->
<!--                    <p class="text-body px-3">|</p>-->
<!--                    <p><i class="fa fa-phone-alt mr-2"></i>+7770768159</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 text-center text-lg-right">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-facebook-f"></i>-->
<!--                    </a>-->

<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-instagram"></i>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TOURISM</span>QR</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/grandmap" class="dropdown-item">Grand-Map</a>
                            <a href="/astana" class="dropdown-item">Astana</a>
                            <a href="/almaty" class="dropdown-item">Almaty</a>
                            <a href="/bayanaul" class="dropdown-item">Bayanaul</a>
                            <a href="/borovoe" class="dropdown-item">Borovoe</a>
                            <a href="/imantau-shalkar" class="dropdown-item">Imantau-Shalkar</a>
                            <a href="/mangistau" class="dropdown-item">Mangistau</a>
                            <a href="/east-kazakhstan" class="dropdown-item">East Kazakhstan region</a>
                            <a href="/balkash" class="dropdown-item">Balkash</a>
                            <a href="/turkestan" class="dropdown-item">Turkestan</a>
                            <a href="/ulitau" class="dropdown-item">Ulitau</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Carousel Start -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 330px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/websfm-84b32.appspot.com/o/files%2Fbayanaul.png?alt=media&token=d0589879-576c-4adf-9f4e-0453d66a93a9" width="100%" style="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Where Nature Unfolds its Splendor</h6>
                    <h1 class="mb-3">A Majestic Retreat in Kazakhstan's Wilderness</h1>
                    <p>Bayanaul, nestled in the heart of Kazakhstan, is a haven of natural beauty and a true paradise for outdoor enthusiasts. Surrounded by the majestic Bayanaul Mountains and boasting picturesque landscapes, this enchanting destination invites visitors to immerse themselves in the wonders of its untamed wilderness.<p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About End -->
<section class="events-section events-listing-section section-bg section-padding" id="section_3">
    <div class="container">
        <div class="row">

            <bar>
                <label for="touchkk"><sbar>attractions</sbar></label>
                <input type="checkbox" id="touchkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/7456447/2a000001832d19462e60a5ce28ddd2603a92/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">National park</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBTfk-C">Click to see location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://mdk.red/m/KOBwWGxP/1200x800.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Jasybai Resort</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBTDQWC">Click to see location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://silkadv.com/sites/default/files/Kazahstan/Zapovedniki_parki/Bayanaul_park/Sabandykol/0_9_IMG_5550-min.JPG" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Sabyndykol lake</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBTxsOC">Click to see location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>

                </ul>
            </bar>
            <bar>
                <label for="touchkkk"><sbar>must visit</sbar></label>
                <input type="checkbox" id="touchkkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://core-pht-proxy.maps.yandex.ru/v1/photos/download?photo_id=Hr5TNoEI1GyROmEFoSklPg&image_size=X5L" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Zhasybay lake</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBLsQwA">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://core-pht-proxy.maps.yandex.ru/v1/photos/download?photo_id=8PnwylpHmlWqXyQs270Zlw&image_size=XL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Toraygir Lake</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBLhp9A">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://i.pinimg.com/originals/3d/95/1e/3d951e85ffecd3d7ade57c7bf165b000.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Saimantas rock</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/profile/-/CCUwBPaL2B">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://sputnik.kz/img/224/95/2249510_0:63:1201:738_2072x0_60_0_0_d36b7bf2c6bfe9fc6436514c7d0c1bea.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Kempirtas rock</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBPvQWA">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/2809325/2a000001749171fc1144de1ed1d358f10e96/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Konyr aulie cave</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwBPTfkC">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>
            </bar>
        </div>
    </div>
</section>


<!-- Feature Start -->
<!--<div class="container-fluid pb-5">-->
<!--    <div class="container pb-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-money-check-alt text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Competitive Pricing</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-award text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Best Services</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-globe text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Worldwide Coverage</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Feature End -->







<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>