<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel=" stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css " integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous " referrerpolicy="no-referrer " >
    <script src="https://kit.fontawesome.com/a58da105b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet " href="css/style.css ">

    <link href="css/templatemo-tiya-golf-club.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<!--<div class="container-fluid bg-light pt-3 d-none d-lg-block">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>-->
<!--                    <p class="text-body px-3">|</p>-->
<!--                    <p><i class="fa fa-phone-alt mr-2"></i>+7770768159</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 text-center text-lg-right">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-facebook-f"></i>-->
<!--                    </a>-->

<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-instagram"></i>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TOURISM</span>QR</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/grandmap" class="dropdown-item">Grand-Map</a>
                            <a href="/astana" class="dropdown-item">Astana</a>
                            <a href="/almaty" class="dropdown-item">Almaty</a>
                            <a href="/bayanaul" class="dropdown-item">Bayanaul</a>
                            <a href="/borovoe" class="dropdown-item">Borovoe</a>
                            <a href="/imantau-shalkar" class="dropdown-item">Imantau-Shalkar</a>
                            <a href="/mangistau" class="dropdown-item">Mangistau</a>
                            <a href="/east-kazakhstan" class="dropdown-item">East Kazakhstan region</a>
                            <a href="/balkash" class="dropdown-item">Balkash</a>
                            <a href="/turkestan" class="dropdown-item">Turkestan</a>
                            <a href="/ulitau" class="dropdown-item">Ulitau</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->



<!-- Carousel End -->


<!-- Booking Start -->

<!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 330px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/websfm-84b32.appspot.com/o/files%2Fborovoe.png?alt=media&token=56ab5a14-ecb5-454a-af66-2bd64c9efc5e" width="100%" style="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Borovoe - Kazakhstan's Hidden Gem</h6>
                    <h1 class="mb-3">Nature's Playground and Tranquil Retreat</h1>
                    <p>This place nestled in the heart of Kazakhstan, is a hidden gem that beckons travelers with its pristine landscapes and serene ambiance. Known as "Kazakhstan's Switzerland," this enchanting destination offers a perfect blend of natural wonders, outdoor adventures, and peaceful retreats.<p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<section class="events-section events-listing-section section-bg section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <bar>
                <label for="touch"><sbar>coffee shops</sbar></label>
                <input type="checkbox" id="touch">

                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaWOHcHB8pLcv1BxK_UwLF_M6F2NPtQ99rqQ&usqp=CAU" class="custom-block-image img-fluid" alt="">
                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Coffee Boom</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/0cunr">57 Nursultan Nazarbayev Avenue 1st floor</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/4454943/2a00000182769d2da6eeee01036521dfe515/orig" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Dostar</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/gnir2">Kenesary Kasymuly Street, 10a</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://www.toj.kz/public/files/node/619/fullimage19.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Burabay</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/72zif">Kenesary Kasymuly Street, 23d</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://i8.photo.2gis.com/images/branch/0/30258560060174952_5213.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">ZEBRA coffee</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/aqqse">Kenesary Kasymuly Street, 16/1</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://www.toj.kz/public/files/node/619/fullimage2.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Asia</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/zfa1k">Kenesary Kasymuly Street, 16</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>

            </bar>
            <bar>
                <label for="touchk"><sbar>restaurants of national cuisine</sbar></label>
                <input type="checkbox" id="touchk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://studiopro.kz/sites/default/files/img_0224.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Zina Burabay</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://2gis.kz/kokshetau/geo/70000001054928285">CRH microdistrict, 2B</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://mirturbaz.ru/uploads/picture/pic/214300/big_image.jpg" class="custom-block-image img-fluid" alt="">
                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Kokshebel</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://2gis.kz/kokshetau/geo/70000001033455041">Kenesary kasymuly Street, 2A1</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li> <li><div class="row custom-block mb-3">
                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-block-image-wrap">
                            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/330166094.jpg?k=e7b3184b938ef881f01c1a6ef4dc4218fd94183cd31abc17a4dbf0dbdc6537d6&o=&hp=1" class="custom-block-image img-fluid" alt="">
                            <i class="custom-block-icon bi-link"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-block-info mt-2 mt-lg-0">
                            <p class="mb-0">Wyndham Garden Burabay</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0"><a href="https://go.2gis.com/sq0k4">Kenesary Kasymuly Street, 44</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></li> <li><div class="row custom-block mb-3">
                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-block-image-wrap">
                            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/310614264.jpg?k=526986c66a8f8fd0549cb9bbca64e3f52169588963bc5753a55da28b95d075d3&o=&hp=1" class="custom-block-image img-fluid" alt="">
                            <i class="custom-block-icon bi-link"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-block-info mt-2 mt-lg-0">
                            <p class="mb-0">Sultan Plaza Borovoe</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0"><a href="https://go.2gis.com/wz0av1">Sanatorium Svetly, 39B</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></li> <li><div class="row custom-block mb-3">
                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-block-image-wrap">
                            <img src="https://realkz.com/images_resize/main/55246.jpg" class="custom-block-image img-fluid" alt="">
                            <i class="custom-block-icon bi-link"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-block-info mt-2 mt-lg-0">
                            <p class="mb-0">Aristocrat</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0"><a href="https://go.2gis.com/dk6h74">Koktem microdistrict, 13a</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></li>
                </ul>

            </bar>
            <bar>
                <label for="touchkk"><sbar>attractions</sbar></label>
                <input type="checkbox" id="touchkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://borovoe.kz/upload/blog_my/musey-botay-burabay.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Botay</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/ypg3r">Click to see location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://kompastour.com/useruploads/hotels/hotel_128d575d96.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Discovery Borovoe</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/f3u2k">Northeast coast of Lake Katarkol, 5a</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://aqmolanews.kz/ru/wp-content/uploads/2021/06/DSC08125-scaled.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Aqbura park</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/s9qdjd">Akbura village, 1</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://www.plantarium.ru/dat/places/5/584/54584_3430fab6.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Borovoe Park</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/6vlhy">Kenesary Kasymuly Street, 47B</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://burabaydamu.kz/images/vizit/DSC_0511.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Burabay Damu</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/7oozp">Kenesary Kasymuly Street, 38</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>
            </bar>
            <bar>
                <label for="touchkkk"><sbar>must visit</sbar></label>
                <input type="checkbox" id="touchkkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Скала_Жумбактас_на_озере_Боровое._Казахстан.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Jumbaktas</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/qx3zu">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://elle.com.kz/wp-content/uploads/2022/06/snimok-jekrana-2022-06-27-v-16.19.55.png" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Rixos Borovoe</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/8cafp">South-eastern shore of Lake Shchuchye, 50</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://burabayresort.kz/storage/catalog/product/Z3S10Ae7DHhYWYKZFYw9zkw4SxAfXJAGZ07OVtOB.jpeg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Mount Bolektau (Lonely)</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/tn6m0">settlement. Burabay, Burabay district, Akmola region</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://burabaydamu.kz/images/19.03.20/stella.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Glade of Abylai Khan</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/nv512">Kokshetau, Kokshetau city administration</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://kokshetau.online/wp-content/uploads/2019/06/Muzej-Botajskoj-kultury.-Borovoe.-Kokshetau-Onlajn.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Botay Museum</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/0qhhm9">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>

            </bar>








        </div>
    </div>
</section>

<!-- Feature Start -->
<!--<div class="container-fluid pb-5">-->
<!--    <div class="container pb-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-money-check-alt text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Competitive Pricing</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-award text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Best Services</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-globe text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Worldwide Coverage</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Feature End -->







<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>