<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel=" stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css " integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous " referrerpolicy="no-referrer " >
    <script src="https://kit.fontawesome.com/a58da105b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet " href="css/style.css ">

    <link href="css/templatemo-tiya-golf-club.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<!--<div class="container-fluid bg-light pt-3 d-none d-lg-block">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>-->
<!--                    <p class="text-body px-3">|</p>-->
<!--                    <p><i class="fa fa-phone-alt mr-2"></i>+7770768159</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 text-center text-lg-right">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-facebook-f"></i>-->
<!--                    </a>-->

<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-instagram"></i>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TOURISM</span>GO</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="index.html" class="nav-item nav-link active">Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/grandmap" class="dropdown-item">Grand-Map</a>
                            <a href="/astana" class="dropdown-item">Astana</a>
                            <a href="/almaty" class="dropdown-item">Almaty</a>
                            <a href="/bayanaul" class="dropdown-item">Bayanaul</a>
                            <a href="/borovoe" class="dropdown-item">Borovoe</a>
                            <a href="/imantau-shalkar" class="dropdown-item">Imantau-Shalkar</a>
                            <a href="/mangistau" class="dropdown-item">Mangistau</a>
                            <a href="/east-kazakhstan" class="dropdown-item">East Kazakhstan region</a>
                            <a href="/balkash" class="dropdown-item">Balkash</a>
                            <a href="/turkestan" class="dropdown-item">Turkestan</a>
                            <a href="/ulitau" class="dropdown-item">Ulitau</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->



<!-- Carousel End -->


<!-- Booking Start -->

<!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 330px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/websfm-84b32.appspot.com/o/files%2Fgrand.png?alt=media&token=f62e593c-90d0-48d4-9eeb-620125246ade" width="100%" style="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">A Journey Across Boundless Landscapes</h6>
                    <h1 class="mb-3">Discover the Majesty of Vast Territory</h1>
                    <p>The grand map of Kazakhstan unveils a captivating tapestry of landscapes and cultures, inviting travelers on a remarkable journey across this expansive nation. With its boundless beauty and diverse traditions, Kazakhstan offers a unique blend of natural wonders, historical treasures, and warm hospitality that will leave a lasting impression.<p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<section class="events-section events-listing-section section-bg section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h2 class="mb-3">Tour de Astana</h2>
            </div>
            <bar>

                <label for="touch"><sbar>titre</sbar></label>
                <input type="checkbox" id="touch">

                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                            <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0" style="font-size: 24px">Nur-Alem</h6>

                                <strong class="text-white">Future energy museum</strong>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <a href="https://go.2gis.com/aeyhc0">
                                    <img src="images/exxpo.jpg" class="custom-block-image img-fluid" alt="">

                                    <i class="custom-block-icon bi-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">The symbol of EXPO-2017 will be the pavilion of Kazakhstan in the form of the biggest complete sphere in the world. In addition to the Museum of the Future, The Sphere will accommodate a museum telling the history of the country and the history of Kazakhstan nations. To-date, foundation for this building has been completed. </p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/aeyhc0">st. Mangilik El, 53/2</a></p>
                                        </div>

                                        <div class="d-flex flex-wrap align-items-center">
                                            <span class="custom-block-span">Ticket:</span>

                                            <p class="mb-0">1500 тг</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                            <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0" style="font-size: 24px">Abu Dhabi Plaza</h6>

                                <strong class="text-white">Multifunctional complex</strong>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <a href="https://go.2gis.com/3cmx3">
                                    <img src="images/abu-dhabi.jpg" class="custom-block-image img-fluid" alt="">

                                    <i class="custom-block-icon bi-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Central business district, Nur-Sultan, Abu Dhabi Plaza is a mixed-use mall, office and residential tower in the heart of Nur-Sultan, the capital of Kazakhstan, opened in December 2019. The development’s tallest tower houses residential and office premises over 75 floors, supported by two further A-class office towers and a 15-floor residential tower. A 4-star Sheraton Hotel offers 190 rooms and 100 serviced apartments. There’s also car parking for more than 4,000 mall visitors, apartment residents and office employees.</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/3cmx3" style="margin-left: 23px"> st. Siganak, 60/5</a></p>
                                        </div>

                                        <div class="d-flex flex-wrap align-items-center">
                                            <span class="custom-block-span">More information:</span>

                                            <p class="mb-0"><a href="https://abudhabiplaza-kz.com/?ysclid=lfjtyrtkg7485778415">Official site</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>

            </bar>








        </div>
    </div>
</section>

<!-- Feature Start -->
<!--<div class="container-fluid pb-5">-->
<!--    <div class="container pb-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-money-check-alt text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Competitive Pricing</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-award text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Best Services</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-globe text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Worldwide Coverage</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Feature End -->







<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>