<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel=" stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css " integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous " referrerpolicy="no-referrer " >
    <script src="https://kit.fontawesome.com/a58da105b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet " href="css/style.css ">

    <link href="css/templatemo-tiya-golf-club.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<!--<div class="container-fluid bg-light pt-3 d-none d-lg-block">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>-->
<!--                    <p class="text-body px-3">|</p>-->
<!--                    <p><i class="fa fa-phone-alt mr-2"></i>+7770768159</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 text-center text-lg-right">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-facebook-f"></i>-->
<!--                    </a>-->

<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-instagram"></i>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TOURISM</span>QR</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/grandmap" class="dropdown-item">Grand-Map</a>
                            <a href="/astana" class="dropdown-item">Astana</a>
                            <a href="/almaty" class="dropdown-item">Almaty</a>
                            <a href="/bayanaul" class="dropdown-item">Bayanaul</a>
                            <a href="/borovoe" class="dropdown-item">Borovoe</a>
                            <a href="/imantau-shalkar" class="dropdown-item">Imantau-Shalkar</a>
                            <a href="/mangistau" class="dropdown-item">Mangistau</a>
                            <a href="/east-kazakhstan" class="dropdown-item">East Kazakhstan region</a>
                            <a href="/balkash" class="dropdown-item">Balkash</a>
                            <a href="/turkestan" class="dropdown-item">Turkestan</a>
                            <a href="/ulitau" class="dropdown-item">Ulitau</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->


<!-- Carousel Start -->

<!-- Carousel End -->


<!-- Booking Start -->

<!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 330px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/websfm-84b32.appspot.com/o/files%2Fimantau-shalkar.png?alt=media&token=5c93f342-42e2-4f7c-9bdb-c16743d363e2" width="100%" style="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">A Hidden Oasis of Tranquility</h6>
                    <h1 class="mb-3">Discover the Serene Beauty of Imantau-Shalkar in Kazakhstan</h1>
                    <p>There are two interconnected lakes that form the centerpiece of this captivating region. Immerse yourself in the tranquility of these crystal-clear waters, where time seems to stand still. Indulge in swimming, boating, or simply bask in the serenity of the lakeside, surrounded by picturesque vistas and gentle breezes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<section class="events-section events-listing-section section-bg section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <bar>
                <label for="touch"><sbar>recreation areas</sbar></label>
                <input type="checkbox" id="touch">

                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://realkz.com/images_resize/main/75786.jpg" class="custom-block-image img-fluid" alt="">
                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Dara</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/7i6xi">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://realkz.com/images_resize/main/67851.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Tihaya gavan</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/pyxju">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://izumrudnoe.ru/wp-content/uploads/2019/08/gostinichnyj-1-700x467.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Izumrudnoe</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/n322wf">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://edem-v-gosti.ru/upload/iblock/179/3z57on3kg7mvwqtkkt0uom7rlgk0fq2d/8afebced6502acba64153fdae5da24e0adf338fb.jpeg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Tihaya zavod</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/18hgqq">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>

                </ul>

            </bar>
            <bar>
                <label for="touchkkk"><sbar>must visit</sbar></label>
                <input type="checkbox" id="touchkkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://core-pht-proxy.maps.yandex.ru/v1/photos/download?photo_id=DGarRgXB_08YJ0jmLsEloQ&image_size=X4L" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Imantau lake</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwFAXQoD">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://cdn.top-news.kz/wp-content/uploads/2021/11/b4a1cca3-0918-489c-9d01-ebe48c2f1009.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Museum estate Aiganym</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwFAto1A">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://tuganjer.skolib.kz/wp-content/uploads/2020/09/комплекс-Карасай-и-Агынтай-батыров.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Memorial complex of Karasai and Agyntai Batyrov</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/018jx">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://vsegda-pomnim.com/uploads/posts/2022-03/1647297158_27-vsegda-pomnim-com-p-ozero-shalkar-yega-kara-foto-33.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Shalkar lake</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/4z58p">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://egemen.kz/media/2022/11/03/sopka-2-brata.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Two brothers sop</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/grhmcv">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>

            </bar>








        </div>
    </div>
</section>
<!-- Feature Start -->
<!--<div class="container-fluid pb-5">-->
<!--    <div class="container pb-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-money-check-alt text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Competitive Pricing</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-award text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Best Services</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-globe text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Worldwide Coverage</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Feature End -->







<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>