<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel=" stylesheet " href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css " integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous " referrerpolicy="no-referrer " >
    <script src="https://kit.fontawesome.com/a58da105b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet " href="css/style.css ">

    <link href="css/templatemo-tiya-golf-club.css" rel="stylesheet">
</head>

<body>
<!-- Topbar Start -->
<!--<div class="container-fluid bg-light pt-3 d-none d-lg-block">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>-->
<!--                    <p class="text-body px-3">|</p>-->
<!--                    <p><i class="fa fa-phone-alt mr-2"></i>+7770768159</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6 text-center text-lg-right">-->
<!--                <div class="d-inline-flex align-items-center">-->
<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-facebook-f"></i>-->
<!--                    </a>-->

<!--                    <a class="text-primary px-3" href="">-->
<!--                        <i class="fab fa-instagram"></i>-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative nav-bar p-0">
    <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
        <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
            <a href="" class="navbar-brand">
                <h1 class="m-0 text-primary"><span class="text-dark">TOURISM</span>QR</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0">
                            <a href="/grandmap" class="dropdown-item">Grand-Map</a>
                            <a href="/astana" class="dropdown-item">Astana</a>
                            <a href="/almaty" class="dropdown-item">Almaty</a>
                            <a href="/bayanaul" class="dropdown-item">Bayanaul</a>
                            <a href="/borovoe" class="dropdown-item">Borovoe</a>
                            <a href="/imantau-shalkar" class="dropdown-item">Imantau-Shalkar</a>
                            <a href="/mangistau" class="dropdown-item">Mangistau</a>
                            <a href="/east-kazakhstan" class="dropdown-item">East Kazakhstan region</a>
                            <a href="/balkash" class="dropdown-item">Balkash</a>
                            <a href="/turkestan" class="dropdown-item">Turkestan</a>
                            <a href="/ulitau" class="dropdown-item">Ulitau</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->




<!-- Booking Start -->

<!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 330px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="https://firebasestorage.googleapis.com/v0/b/websfm-84b32.appspot.com/o/files%2Fturkestan.png?alt=media&token=901ee5db-b657-4a75-ad61-0e3a6f2f719f" width="100%" style="">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">A Sacramental Journey to Historical Significance</h6>
                    <h1 class="mb-3">Embark on a Sacred Pilgrimage</h1>
                    <p>Turkestan, a place of profound spiritual significance, beckons travelers on a sacramental journey to explore its rich historical heritage and experience the depth of its cultural importance. Nestled in the heart of Kazakhstan, this sacred city holds a special place in the hearts of pilgrims and history enthusiasts alike.<p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<section class="events-section events-listing-section section-bg section-padding" id="section_3">
    <div class="container">
        <div class="row">
            <bar>
                <label for="touch"><sbar>coffee shops</sbar></label>
                <input type="checkbox" id="touch">

                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://i0.photo.2gis.com/images/branch/0/30258560094114340_f1e9_328x170.jpg" class="custom-block-image img-fluid" alt="">
                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Travelers Coffee</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/c5rly">3 a Bayburt Street</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://i9.photo.2gis.com/images/branch/0/30258560095537547_6616_328x170.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Global Coffee</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/0wmld9">Alcoja Ata Street, 1 k13</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li><li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://i9.photo.2gis.com/images/branch/0/30258560090183171_433f_328x170.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Tatti Alemi</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/cnz00">11 Bekzat Sattarkhanov Avenue</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li><li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/758957/2a00000186c10aff7f2c86152f5014456bf0/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Aizhamal tattileri</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/f3fz9">Sultanova Street, 234a</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li><li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/2752367/2a00000171499ec2510f9d8d40080379e76a/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Daily Food</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJYso-C">Ave. Tauke Hana, 212</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>

            </bar>
            <bar>
                <label for="touchk"><sbar>restaurants of national cuisine</sbar></label>
                <input type="checkbox" id="touchk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/4379646/2a00000182fe74bc9bb8afeab47269d44944/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Sandyq</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJYXpgB">Turkestan, Ave. Bekzata Sattarkhanov, 14</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/5104371/2a000001823b1317208998c99b854af3f5ab/XXXL" class="custom-block-image img-fluid" alt="">
                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Eldorado</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJ4avcA">Turkestan, Tynyshkulov St., 3A</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li> <li><div class="row custom-block mb-3">
                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-block-image-wrap">
                            <img src="https://avatars.mds.yandex.net/get-altay/4537001/2a0000017926011338c57e9b2b553f94f6d0/XXXL" class="custom-block-image img-fluid" alt="">
                            <i class="custom-block-icon bi-link"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-block-info mt-2 mt-lg-0">
                            <p class="mb-0">Diadora</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJ4qD1B">2A Khaknazar St.</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></li><li><div class="row custom-block mb-3">
                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-block-image-wrap">
                            <img src="https://avatars.mds.yandex.net/get-altay/1784518/2a0000016a0d4ffe49fbc2261c7596ae509d/XXXL" class="custom-block-image img-fluid" alt="">
                            <i class="custom-block-icon bi-link"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-block-info mt-2 mt-lg-0">
                            <p class="mb-0">Adil</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJ4VPoD">Ave. Sattarkhanova, 17</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></li><li><div class="row custom-block mb-3">
                    <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                        <div class="custom-block-image-wrap">
                            <img src="https://avatars.mds.yandex.net/get-altay/4449685/2a000001792051b6b316faa11fd995f767ce/XXXL" class="custom-block-image img-fluid" alt="">
                            <i class="custom-block-icon bi-link"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 order-3 order-lg-0">
                        <div class="custom-block-info mt-2 mt-lg-0">
                            <p class="mb-0">Aina</p>

                            <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                <div class="mb-4 mb-lg-0">
                                    <div class="d-flex flex-wrap align-items-center mb-1">
                                        <span class="custom-block-span">Location:</span>

                                        <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJ4GHWD">Click to see the location</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></li>
                </ul>

            </bar>
            <bar>
                <label for="touchkk"><sbar>attractions</sbar></label>
                <input type="checkbox" id="touchkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/3986135/2a00000177f71de483d947a22eef5381531e/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Barn Karavay</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJBaRkB">Ave. Sattarkhanova, 25A</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/6315042/2a0000018135d826d8005ce8ac9e7bdd7695/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Khanshaiym Plaza</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJBeOdC">Ave. Sattarkhanova, 33A</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://i0.photo.2gis.com/images/branch/0/30258560087875201_7bf2_328x170.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Uli Dala Eli museum</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/qozed">Zholbaryskhan Street, 1/2</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/7659180/2a00000187e1bbb3d1c7434901b233b8fd22/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">The well Ukash Ata</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJBgdgB">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>
            </bar>
            <bar>
                <label for="touchkkk"><sbar>must visit</sbar></label>
                <input type="checkbox" id="touchkkk">
                <ul class="slide">
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/7044542/2a00000184098b85abf14f72a0f490fd62a0/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Sauran settlement</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJJgEcB">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://avatars.mds.yandex.net/get-altay/212783/2a0000018827700f6505080a8ef18608b4e0/XXXL" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Mausoleum of Khoja Ahmed Yassawi</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJJDv8B">Turkestan, 1B Aiteke Bi St.</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://someplace.kz/media/k2/items/cache/78d607068cd064420401737e12f83bae_XL.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Mausoleum of Arystanbab</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://yandex.kz/maps/-/CCUwJJtOPB">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://otvet.imgsmail.ru/download/18880857_57a4cb242aa3565230b6a131bf1a022f_800.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Monument to Abu Ali Ibn Sina </p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/g90rhk">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                    <li><div class="row custom-block mb-3">
                        <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                            <div class="custom-block-image-wrap">
                                <img src="https://magiclight-astana.kz/d/narodnyj_park_v_kazahstane.jpg" class="custom-block-image img-fluid" alt="">

                                <i class="custom-block-icon bi-link"></i>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12 order-3 order-lg-0">
                            <div class="custom-block-info mt-2 mt-lg-0">
                                <p class="mb-0">Zhibek Zholy park</p>

                                <div class="d-flex flex-wrap border-top mt-4 pt-3">

                                    <div class="mb-4 mb-lg-0">
                                        <div class="d-flex flex-wrap align-items-center mb-1">
                                            <span class="custom-block-span">Location:</span>

                                            <p class="mb-0"><a href="https://go.2gis.com/zic3s">Click to see the location</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div></li>
                </ul>
            </bar>
        </div>
    </div>
</section>

<!-- Feature Start -->
<!--<div class="container-fluid pb-5">-->
<!--    <div class="container pb-5">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-money-check-alt text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Competitive Pricing</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-award text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Best Services</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-4">-->
<!--                <div class="d-flex mb-4 mb-lg-0">-->
<!--                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">-->
<!--                        <i class="fa fa-2x fa-globe text-white"></i>-->
<!--                    </div>-->
<!--                    <div class="d-flex flex-column">-->
<!--                        <h5 class="">Worldwide Coverage</h5>-->
<!--                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Feature End -->







<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>